asgiref==3.11.1
certifi
cffi
charset-normalizer
cryptography
Django==4.2.16
django-allauth==65.14.3
djangorestframework==3.14.0
gunicorn==25.1.0
idna
packaging
psycopg2-binary==2.9.11
pycparser
PyJWT
python-dotenv
requests
sqlparse
urllib3
