{% extends 'base.html' %}

{% block content %}

<h2>Driver Dashboard</h2>

{% if trip %}
    <p><strong>Trip ID:</strong> {{ trip.id }}</p>
{% endif %}

<h3>Offers</h3>

{% for offer in offers %}
<div style="border:1px solid black; padding:10px; margin:10px;">

    <p><strong>Passenger:</strong> {{ offer.request.passenger.username }}</p>
    <p><strong>Pickup:</strong> {{ offer.request.pickupnode.name }}</p>
    <p><strong>Drop:</strong> {{ offer.request.dropoffnode.name }}</p>

    <p><strong>Detour:</strong> {{ offer.detour }}</p>
    <p><strong>Fare:</strong> {{ offer.fare }}</p>

    <p><strong>Status:</strong> {{ offer.status }}</p>

    <!-- Accept -->
    <form method="post" action="/accept-offer/{{ offer.id }}/">
        {% csrf_token %}
        <button type="submit">Accept</button>
    </form>

</div>
{% empty %}
<p>No offers available</p>
{% endfor %}

{% if trip %}
<form method="post" action="/complete-trip/{{ trip.id }}/">
    {% csrf_token %}
    <button type="submit">Complete Trip</button>
</form>
{% endif %}

{% endblock %}