{% extends "base.html" %}

{% block content %}
<h2>Your Active Trip</h2>

{% if trip %}
    <p>{{ trip.source }} → {{ trip.destination }}</p>

    <h3>Passenger Requests</h3>

    {% for item in requests %}
    <div class="card shadow-sm p-3 mb-3">

        <p>{{ item.request.passenger }}</p>
        <p>{{ item.request.pickupnode }} → {{ item.request.dropoffnode }}</p>

        <p>Fare: ₹{{ item.fare }}</p>
        <p>Detour: {{ item.detour }}</p>

        <form method="POST" action="/driver/createoffer/">
            {% csrf_token %}
            <input type="hidden" name="requestid" value="{{ item.request.id }}">
            <input type="hidden" name="fare" value="{{ item.fare }}">
            <input type="hidden" name="detour" value="{{ item.detour }}">
            <button class="btn btn-success" type="submit">Offer Ride</button>
        </form>

    </div>
{% endfor %}

{% else %}
    <p>No active trip</p>
{% endif %}

<form method="POST" action="{% url 'completetrip' %}">
    {% csrf_token %}
    <button type="submit">Complete Trip</button>
</form>


{% endblock %}