{% extends 'base.html' %}

{% block content %}

<h2>Your Carpool Requests</h2>

{% for item in data %}

<div class="card p-3 mb-3">

    <p><b>Route:</b> {{ item.request.pickupnode }} → {{ item.request.dropoffnode }}</p>
    <p><b>Status:</b> {{ item.request.status }}</p>

    <h5>Driver Offers</h5>

    {% if item.offers %}
        {% for offer in item.offers %}
            <div class="border p-2 mb-2">

                <p>Driver: {{ offer.trip.driver }}</p>
                <p>Fare: ₹{{ offer.fare }}</p>
                <p>Status: {{ offer.status }}</p>

                {% if offer.status == "pending" %}
                <form method="POST" action="{% url 'acceptoffer' offer.id %}">
                    {% csrf_token %}
                    <button class="btn btn-success">Accept</button>
                </form>
                {% endif %}

            </div>
        {% endfor %}
    {% else %}
        <p>No offers yet</p>
    {% endif %}

</div>

{% endfor %}

{% endblock %}