<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">Carpool</a>

    <div>
      <a class="btn btn-outline-light me-2" href="/driverdashboard/">Driver Dashboard</a>
      <a class="btn btn-outline-light me-2" href="/passenger/create/">Create Request</a>
      <a class="btn btn-outline-light me-2" href="/passenger/requests/">My Requests</a>
      <a class="btn btn-outline-light" href="/wallet/">Wallet</a>
    </div>

  </div>
</nav>