{% extends "base.html" %}

{% block content %}
<h2>Driver Dashboard</h2>

<div class="row mt-3">

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Offer Ride</h5>
            <p>Create a new trip</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>My Trips</h5>
            <p>View your rides</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Wallet</h5>
            <p>Check balance</p>
        </div>
    </div>

</div>
{% endblock %}